.cameraframe {
  overflow: hidden;
}
.frame {
  position: relative;
  top: 0;
  left: 0;
  margin: -9px;
}
.gmlogo {
  position: absolute;
  top: 0;
}
.bigg {
  position: absolute;
  top: 300px;
  left: 20%;
}
.camera {
  position: absolute;
  top: 18vh;
  z-index: -1;
}
